# Copy this file to .env for local development
VITE_API_URL=/api
VITE_API_TARGET=https://api.pinguru.me
VITE_IG_APP_ID=2430244137406063
VITE_IG_REDIRECT=http://localhost:5173/connect
VITE_IG_AUTH_BASE=https://www.instagram.com/oauth/authorize
